@{
    
    Layout = "_Layout";
    ViewData["Title"] = "Variety Car Rental";
}
<h1><b>@ViewData["Title"]</b></h1>
<hr />
<br />
<br />
<br />
<meta charset="utf-8" />
<h2><b>Misión</b></h2>
<br />
<br />
<p>
    Satisfacer a los clientes ofreciéndoles excelencia en el <br />
    servicio, calidad y confiabilidad, por medio de la estandarización<br />
    y unificación de nuestros procesos, fundamentados en los principios<br />
    del desarrollo sostenible.
</p>
<br />
<h2><b>Visión</b></h2>
<br />
<br />
<p>
    Ser líderes en servicio al cliente mediante la satisfacción <br />
    de sus necesidades y expectativas con una adecuada planificación<br />
    y la gestión de un modelo de negocio, que promueva y genere crecimiento <br />
    económico, progreso social y equilibrio ambiental.
</p>