

<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/StyleInputForm.css">
</head>

<body>
    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="table-responsive-sm">
            <h2>Registrar Usuario</h2>
        </div>
        <div class="reservation-form">
            <div class="form-group">
                <label for="id">id_usuario:</label>
                <input type="text" id="id_usuario" name="id_usuario" required>
            </div>
            <div class="form-group">
                <label for="acceso">id_acceso:</label>
                <input type="text" id="id_acceso" name="id_acceso" required>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" name="apellidos" required>
                <label for="password">Password</label>
                <input type="password" id="contraseña" name="contraseña" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <button type="submit">Registrar</button>
        </div>
        <div class="form-footer">
            <p>Crearás un nuevo usuario</p>
        </div>
    </div>
        </div>
    </div>
</body>
</html>
