@{
    Layout = "_Layout";
    ViewData["Title"] = "Reservas";
}


<h1 style="text-align: center; color: #3498db;">Reserva de Vehículos</h1>
<link rel="stylesheet" href="/css/StyleFrmReservas.css">
<div class="reservation-form">
    <form>
        <label for="pickup-date" style="color: #333;">Fecha de Recogida:</label>
        <input type="date" id="pickup-date" name="pickup-date" required>

        <label for="return-date" style="color: #333;">Fecha de Devolución:</label>
        <input type="date" id="return-date" name="return-date" required>

        <label for="location" style="color: #333;">Ubicación de Recogida:</label>
        <select id="location" name="location" required>
            <option value="san-jose">San José</option>
            <option value="liberia">Liberia</option>
            <option value="tamarindo">Tamarindo</option>
        </select>

        <label for="vehicle-type" style="color: #333;">Tipo de Vehículo:</label>
        <select id="vehicle-type" name="vehicle-type" required>
            <option value="compacto">Compacto</option>
            <option value="suv">SUV</option>
            <option value="camioneta">Camioneta</option>
        </select>

        <button type="submit" style="background-color: #3498db; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Buscar Vehículos</button>
    </form>

</div>
