@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler de Vehículos</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container"></div>
        <div class="container">
            <h1>Vehículos Disponibles para Alquiler</h1>

            <div class="vehicle-row">
                <div class="vehicle">
                    <img src="/images/nissan versa rojo.webp" alt="Vehicle Image">
                    <div class="vehicle-info">
                        <h3>Nissan Versa</h3>
                        <p>Año: 2022</p>
                        <p>Color: Rojo Metálico</p>
                        <p>Precio por día: $60</p>
                        <button>Reservar Ahora</button>
                    </div>
                </div>

                <div class="vehicle">
                    <img src="/images/susukiswift.jpg" alt="Vehicle Image">
                    <div class="vehicle-info">
                        <h3>Suzuki Swift</h3>
                        <p>Año: 2021</p>
                        <p>Color: Azul</p>
                        <p>Precio por día: $50</p>
                        <button>Reservar Ahora</button>
                    </div>
                </div>

                <!-- Agrega más vehículos según sea necesario -->
            </div>
    </div>
</body>
</html>
