@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variety Car Rental</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="nav-bar">
        <div class="logo">
            Variety Car Rental
        </div>
        <ul class="nav-link">
            <li><a class="active" href="@Url.Action("Index","Home")">Inicio</a></li>
            <li><a href="@Url.Action("AcercaDE","Home")">Acerca de Nosotros</a></li>
            <li><a href="#">Administración <i class="fa fa-caret-down"></i></a>

                <ul class="dropdown-nav-link">
                    <li><a href="/forms.html">Registrar Usuarios</a></li>
                    <li><a href="/table.html">Registrar Vehículos</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Login","Home")">Login</a></li>
        </ul>
    </nav>
    <div class="container">
       @RenderBody()
    </div>

    <footer>
        &#169; Somos Tu Mejor Opción
    </footer>

</body>
</html>